@{
    ViewData["Title"] = "Contato";
}
<h1>@ViewData["Title"]</h1>

<p>
    Email: juanfigueiredom@gmail.com<br />
    Telefone: (51)997629718<br />
    Linkedin: <a href="https://www.linkedin.com/in/juan-martins-pdpp/">linkedin.com</a>
</p>
